* {
    margin: 0;
}

body {
    background-color: burlywood;
}

button {
    display: flex;
}

#contenedor {
    width: 600px;
    margin: 0 auto;
    background-color: beige;
}

#encabezado {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    background-color: sandybrown;
    color: white;
    text-align: center;
    margin-top: 15em;
}

#pie {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    background-color: sandybrown;
    color: white;
    text-align: center;
}

#contenido {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
}